<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="STTF.CRMConnector.Contract.CTI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Contract.DCAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Contract.TestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Server.Driver.AES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Server.Driver.PDS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Server.Driver.POM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Server.EDU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Server.Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="STTF.CRMConnector.Server.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="CRMConnectorSettings" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
			<section name="PassivateCodeConfiguration" type="STTF.CRMConnector.Server.ConfigurationSection.PassivateCodeConfiguration, STTF.CRMConnector.Server.ConfigurationSection, Version=1.5.973.1755, Culture=neutral, PublicKeyToken=69438b58def2467e" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
			<section name="RecordExtensionConfiguration" type="STTF.CRMConnector.Server.ConfigurationSection.RecordExtensionConfiguration, STTF.CRMConnector.Server.ConfigurationSection, Version=1.5.973.1755, Culture=neutral, PublicKeyToken=69438b58def2467e" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<diagnostics performanceCounters="All" />
		<services>
			<service name="STTF.CRMConnector.Contract.TestClient.Client">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4505/STTF.CRMConnector/TestClient/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" contract="STTF.CRMConnector.Contract.TestClient.IClient">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
			<service name="STTF.CRMConnector.Contract.TK.Client">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4505/STTF.CRMConnector/TK/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" contract="STTF.CRMConnector.Contract.TK.IClient">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
			<service name="STTF.CRMConnector.Contract.CTI.Client">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4505/STTF.CRMConnector/CTI/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" contract="STTF.CRMConnector.Contract.CTI.IClient">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
			<service name="STTF.CRMConnector.Contract.Debug.Client">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4505/STTF.CRMConnector/Debug/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" contract="STTF.CRMConnector.Contract.Debug.IClient">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="2000" maxConcurrentSessions="2000" maxConcurrentInstances="2000" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding>
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<applicationSettings>
		<STTF.CRMConnector.Contract.CTI.Properties.Settings>
			<setting name="KeepAliveTimeout" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="Setting" serializeAs="String">
				<value />
			</setting>
			<setting name="PassivateCode_1" serializeAs="String">
				<value>1::Перерыв на обед</value>
			</setting>
			<setting name="PassivateCode_2" serializeAs="String">
				<value>2::Технический перерыв</value>
			</setting>
			<setting name="PassivateCode_3" serializeAs="String">
				<value />
			</setting>
			<setting name="PassivateCode_4" serializeAs="String">
				<value>3::Конец работы</value>
			</setting>
			<setting name="PassivateCode_5" serializeAs="String">
				<value />
			</setting>
			<setting name="PassivateCode_6" serializeAs="String">
				<value />
			</setting>
			<setting name="PassivateCode_7" serializeAs="String">
				<value />
			</setting>
			<setting name="PassivateCode_8" serializeAs="String">
				<value />
			</setting>
			<setting name="PassivateCode_9" serializeAs="String">
				<value />
			</setting>
			<setting name="CC_Number" serializeAs="String">
				<value>1313</value>
			</setting>
		</STTF.CRMConnector.Contract.CTI.Properties.Settings>
		<STTF.CRMConnector.Contract.DCAPI.Properties.Settings>
			<setting name="bind_url" serializeAs="String">
				<value>http://*:8180</value>
			</setting>
		</STTF.CRMConnector.Contract.DCAPI.Properties.Settings>
		<STTF.CRMConnector.Contract.TestClient.Properties.Settings>
			<setting name="Timer_KeepAlive" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="PropertyName_CallerID" serializeAs="String">
				<value>ANI</value>
			</setting>
		</STTF.CRMConnector.Contract.TestClient.Properties.Settings>
		<STTF.CRMConnector.Server.Driver.AES.Properties.Settings>
			<setting name="AESServerPort" serializeAs="String">
				<value>4721</value>
			</setting>
			<setting name="AESSessionName" serializeAs="String">
				<value>TestDriver3</value>
			</setting>
			<setting name="AESServerPassword" serializeAs="String">
				<value>Avaya123*</value>
			</setting>
			<setting name="AESSessionCleanupDelay" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="AESSessionDuration" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="AESProtocolVersion" serializeAs="String">
				<value>http://www.ecma-international.org/standards/ecma-323/csta/ed3/priv6</value>
			</setting>
			<setting name="AESUseSecureSockets" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AESEnableAutoKeepAlive" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AESAllowCertificateNameMismatch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AESServerIP2" serializeAs="String">
				<value>192.168.0.132</value>
			</setting>
			<setting name="AESServerPort2" serializeAs="String">
				<value>4721</value>
			</setting>
			<setting name="AESSessionName2" serializeAs="String">
				<value>TestDriver3</value>
			</setting>
			<setting name="AESServerLogin2" serializeAs="String">
				<value>tsapi</value>
			</setting>
			<setting name="AESServerPassword2" serializeAs="String">
				<value>Avaya123*</value>
			</setting>
			<setting name="AESSessionCleanupDelay2" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="AESSessionDuration2" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="AESProtocolVersion2" serializeAs="String">
				<value>http://www.ecma-international.org/standards/ecma-323/csta/ed3/priv6</value>
			</setting>
			<setting name="AESUseSecureSockets2" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AESEnableAutoKeepAlive2" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AESAllowCertificateNameMismatch2" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AESSwitchName2" serializeAs="String">
				<value>cm01</value>
			</setting>
			<setting name="ACW_Time" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="AESServerIP" serializeAs="String">
				<value>10.7.12.16</value>
			</setting>
			<setting name="AESServerLogin" serializeAs="String">
				<value>ctiUser</value>
			</setting>
			<setting name="ReserveServer" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EnableAfterCallWork" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AESSwitchName" serializeAs="String">
				<value>stepcm8</value>
			</setting>
		</STTF.CRMConnector.Server.Driver.AES.Properties.Settings>
		<STTF.CRMConnector.Server.Driver.PDS.Properties.Settings>
			<setting name="PDSServerPort" serializeAs="String">
				<value>22700</value>
			</setting>
			<setting name="PDSServerIP" serializeAs="String">
				<value>192.168.0.67</value>
			</setting>
			<setting name="EnableTenants" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CallError1_Data" serializeAs="String">
				<value>BUSY</value>
			</setting>
			<setting name="CallError1_Code" serializeAs="String">
				<value>11</value>
			</setting>
			<setting name="CallError2_Data" serializeAs="String">
				<value>NOANSWER</value>
			</setting>
			<setting name="CallError2_Code" serializeAs="String">
				<value>15</value>
			</setting>
			<setting name="CallError3_Data" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError3_Code" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="CallError4_Data" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError4_Code" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="CallError5_Data" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError5_Code" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="CallError6_Data" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError6_Code" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="CallError7_Data" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError7_Code" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="CallError8_Data" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError8_Code" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="CallError9_Data" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError9_Code" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="CallErrorMatchTimeout" serializeAs="String">
				<value>180</value>
			</setting>
			<setting name="CallError1_Text" serializeAs="String">
				<value>Занято</value>
			</setting>
			<setting name="CallError2_Text" serializeAs="String">
				<value>Нет ответа</value>
			</setting>
			<setting name="CallError3_Text" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError4_Text" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError5_Text" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError6_Text" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError7_Text" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError8_Text" serializeAs="String">
				<value />
			</setting>
			<setting name="CallError9_Text" serializeAs="String">
				<value />
			</setting>
			<setting name="CallAutoComplete" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AgentTraceLogEnable" serializeAs="String">
				<value>True</value>
			</setting>
		</STTF.CRMConnector.Server.Driver.PDS.Properties.Settings>
		<STTF.CRMConnector.Server.Driver.POM.Properties.Settings>
			<setting name="POMServerIP" serializeAs="String">
				<value>10.7.12.14</value>
			</setting>
			<setting name="POMServerPort" serializeAs="String">
				<value>9970</value>
			</setting>
			<setting name="AGTLocale" serializeAs="String">
				<value>en-us</value>
			</setting>
			<setting name="AGTForceLogin" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AGTTimeZone" serializeAs="String">
				<value />
			</setting>
			<setting name="AGTZone" serializeAs="String">
				<value>Default</value>
			</setting>
		</STTF.CRMConnector.Server.Driver.POM.Properties.Settings>
		<STTF.CRMConnector.Server.EDU.Properties.Settings>
			<setting name="CleanupDelay" serializeAs="String">
				<value>28800</value>
			</setting>
			<setting name="CleanupValidateInterval" serializeAs="String">
				<value>60</value>
			</setting>
		</STTF.CRMConnector.Server.EDU.Properties.Settings>
		<STTF.CRMConnector.Server.Logger.Properties.Settings>
			<setting name="LogFile_Path" serializeAs="String">
				<value>logs/</value>
			</setting>
			<setting name="LogFile_Name" serializeAs="String">
				<value>server.{0}.log</value>
			</setting>
			<setting name="LogName_DateFormat" serializeAs="String">
				<value>yyyyMMdd_hhmmss</value>
			</setting>
			<setting name="EnableDebug" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="WriteToConsole" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FlushOnError" serializeAs="String">
				<value>True</value>
			</setting>
		</STTF.CRMConnector.Server.Logger.Properties.Settings>
		<STTF.CRMConnector.Server.ConsoleApp.Properties.Settings>
			<setting name="ReadyAutoSet" serializeAs="String">
				<value>False</value>
			</setting>
		</STTF.CRMConnector.Server.ConsoleApp.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Authentication.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Routing" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Connections.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Routing.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Extensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.SignalR.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.15.0" newVersion="1.0.15.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="STTF.CRMConnector.Server.SDK" publicKeyToken="69438b58def2467e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.393.1333" newVersion="1.8.393.1333" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<CRMConnectorSettings>
		<PassivateCodeConfiguration>
			<code id="1">
				<data name="Code err" description="" culture="" />
			</code>
			<code id="2">
				<data name="Code 2" description="" culture="" />
			</code>
		</PassivateCodeConfiguration>
		<RecordExtensionConfiguration>
			<extension from="61000" to="65000" />
		</RecordExtensionConfiguration>
	</CRMConnectorSettings>
</configuration>